<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to "Home", root_path,class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Emprunt", emprunts_path,class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Community", users_path ,class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Documents", documents_path,class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Material", ordinateurs_path,class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Authors", authors_path,class: "nav-link" %></li>
      </ul>
    </header>